
header{
    text-align: center;
    color: #333;
    display: flex;
    
}
nav{
    justify-content: center;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-left: 510px;
    margin-top: 40px;
}
nav ul li {
    display: inline;
    margin: 0 15px;
    
}nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}
body{
    background-size: 100%;
    margin-left: 100px;
    height: 200%;
    background-repeat: no-repeat;
    position:absolute;
}
.icons{
    display: flex;
    margin-top: 40px;
    margin-left: 400px;
    padding-inline: 30px;
    color: white;
    gap: 80px;


}
#h2{
    font-size: 50px;
}
#home-container{
    border-style: dashed;
    border-color: grey;
    border-radius: 2px;
}
#image1{
    margin-left: 899px;
    display: flex;
    margin-top: -650px;

}
#image1type{
    border-radius: 4%;
    width: 80%;
}
#startnowbutton{
    border-radius: 30px;
    width: 140px;
    height: 60px;
    background-color: #333;
    color: white;
    border: none;
}
.fa-play{
    border: solid rgb(214, 209, 209);
    background-color: rgb(214, 209, 209);
    border-radius: 7px;
    align-items: center;
    padding: 10px;
}
.numbers{
    display: flex;
    gap: 25px;
}
#letter{
    font-size: 20px;
}
#num{
    font-size: 60px;
}
.second-container{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    margin: 30px;
    padding: 40px;
}
#flip-button{
    .fa-play{
    background-color: white;
    border: none;
    }
}
.flip-play{
    display: flex;
    justify-content: space-between;
    
}
.second-images{
    display: flex;
    justify-content: space-between;
}
.Third-session{
    text-align: center;
}
#homedeco{
    width: 30%;
}
.thirdsestion{
    display: flex;
    gap: 300px;
    justify-content: center;
    /* margin-left: -100px; */
}
/* .fourthsection{
    margin-right: 100px;
} */
#shopnow{
    width: 140px;
    height: 60px;
    border-radius: 30px;
}
.third-deco{
    display: flex;
    gap: 300px;
    justify-content: center;
}
.third-heading{
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}
.brackie{
    display: flex;
    justify-content: space-evenly;
}
.reviews{
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}
.bodysection{
    display: flex;
    gap: 60px;
    margin-left: 300px;
}
.paragraph{
    margin-top: 300px;
    margin-left: 100px;

}
.arrow{
    margin-top: 500px;
    justify-content: center;
}
.Parker{
    display: flex;
    padding:100px;
}
.Parker img{
    width:60px;
    height:70px;
}
.para{
    margin-top: 100px;
    margin-left: -400px;
    padding: 100px;
}
.row{
    margin-left:800px;
    display: flex;
    gap:400px;
}
.lastpart{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #333;
}
.lastlast{
    display: flex;
    justify-content: space-between;
}
.homeword{
    font-size: 50px;
}

h1{
    font-size: 40px;
}
h2{
font-size: 50px;
}
h3{
    font-size: 40px;
}

